.falling-text-container {
  position: relative;
  min-height: 120px; /* Menjaga tinggi tetap */
  overflow: visible; /* Pastikan teks tetap terlihat */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease-out;
}
.falling-text-target {
  display: inline-block;
}

.word {
  display: inline-block;
  margin: 0 2px;
  user-select: none;
  background-color: aqua;
  border-radius: 10px;
  width: 100px;
  overflow: hidden;
  text-align: center;
}

.highlighted {
  color: purple;
  font-weight: bold;
}

.falling-text-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
