#about {
  background-color: #eaedef;
  position: relative;
  font-size: 1.2rem;
}
#about > .wrapper {
  margin: auto;
  width: 50%;
}
#about > .wrapper > h3 {
  text-align: center;
  font-size: 2.8rem;
  margin: 0px 0px 30px 0px;
  padding: 0px;
  font-family: "Kanit", sans-serif;
  color: #333;
  letter-spacing: 5px;
  text-transform: uppercase;
}
#about > .wrapper > p {
  text-align: center;
}

#about > .wrapper > h4 {
  text-align: center;
  font-size: 1.4rem;
  margin: 0px 0px 20px 0px;
  padding: 0px;
  font-family: "Kanit", sans-serif;
  letter-spacing: 5px;
  color: #333;
}
.skills {
  text-align: center;
}
.skills > svg {
  display: inline-block;
  color: #74797e;
  width: 50px;
  height: auto;
  margin: 10px;
  cursor: pointer;
}

.skills > svg:hover {
  color: #aa392d;
}

@media only screen and (max-width: 1000px) {
  #about > .wrapper {
    width: 80%;
  }
}
.about-container {
  position: relative;
  margin: 0 auto;
  overflow: hidden; /* Pastikan teks tidak terpotong */
}

.about-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px; /* Sesuaikan ukuran gambar */
  height: auto;
  z-index: 2; /* Agar gambar ada di atas */
  border-radius: 10%;
}
.ab{
  background-color: gray;
}