#about {
  background-color: #000;
  position: relative;
  font-size: 1.2rem;
  
}
#about > .wrapper {
  margin: auto;
  width: 80%;
}
#about > .wrapper > h3 {
  text-align: center;
  font-size: 2.8rem;
  margin: 0px 0px 30px 0px;
  padding: 0px;
  font-family: "Kanit", sans-serif;
  color: #333;
  letter-spacing: 5px;
  text-transform: uppercase;
}
#about > .wrapper > p {
  text-align: justify; /* Rata kanan-kiri untuk tampilan lebih rapi */
  line-height: 1.6; /* Jarak antar baris agar lebih nyaman */
color: #fff;}

#about > .wrapper > h4 {
  text-align: center;
  font-size: 1.4rem;
  margin: 0px 0px 20px 0px;
  padding: 0px;
  font-family: "Kanit", sans-serif;
  letter-spacing: 5px;
  color: #333;
}
.skills {
  text-align: center;
}
.skills > svg {
  display: inline-block;
  color: #74797e;
  width: 50px;
  height: auto;
  margin: 10px;
  cursor: pointer;
}



@media only screen and (max-width: 1000px) {
  #about > .wrapper {
    width: 80%;
  }
}
.skills-carousel {
  width: 100%;
  padding: 20px 0;
}

.skills-carousel .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-carousel .swiper-slide svg {
  width: 60px;
  height: 60px;
  color: #74797e;
  transition: transform 0.3s ease, color 0.3s ease;
}


.skills-carousel-wrapper {
  position: relative;
  overflow: hidden;
}

.skills-carousel::before,
.skills-carousel::after {
  content: "";
  position: absolute;
  top: 0;
  width: 50px;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), transparent);
  z-index: 2;
}

.skills-carousel::before {
  left: 0;
}

.skills-carousel::after {
  right: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.8), transparent);
}
.github-calendar-container {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #222;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;

}

.github-calendar-container h4 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #ffffff;
}
.github-calendar-container text {
    fill: white !important; /* Mengubah warna teks menjadi putih */
}
.github-profile {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #222;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.github-profile img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
}

.github-info h3 {
  color: white;
  margin: 0;
}

.github-info p {
  color: #bbb;
  margin: 5px 0;
}

.github-info a {
  color: #fcb040;
  text-decoration: none;
  font-weight: bold;
}

.github-info a:hover {
  text-decoration: underline;
}

/* Menyembunyikan teks "Less More" */
.github-calendar-container svg g:last-child {
  display: none;
}

/* Agar teks bulan tetap putih */
.github-calendar-container svg text {
  fill: white !important;
}

/* Supaya tampilan lebih rapi */
.github-calendar-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
