* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f4f4;
}

.navbar {
  position: fixed;
  width: 100%;
  background: transparent;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.logo a {
  text-decoration: none;
  font-size: 26px;
  font-weight: bold;
  color: white;

}

.nav-links {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

.nav-links.active {
  transform: translateY(0);
}

.nav-links li {
  list-style: none;
  margin: 20px 0;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 26px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: teal;
}

.menu-toggle {
  width: 30px;
  height: 20px;
  /* margin-top: 20px; */
  /* margin-right: 20px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 200;
}

.menu-toggle div {
  width: 100%;
  height: 4px;
  background: white;
  transition: transform 0.3s ease, opacity 0.3s ease;
  border-radius: 2px;
}

.menu-toggle.active div:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.menu-toggle.active div:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active div:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
